@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* FONTS */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/inter_web/Inter-Regular.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: local("Inter"), url(./fonts/inter_web/Inter-Italic.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: local("Inter"), url(./fonts/inter_web/Inter-Bold.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  font-style: italic;
  src: local("Inter"), url(./fonts/inter_web/Inter-BoldItalic.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: medium;
  src: local("Inter"), url(./fonts/inter_web/Inter-Medium.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: medium;
  font-style: italic;
  src: local("Inter"), url(./fonts/inter_web/Inter-MediumItalic.woff2);
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: local("Inter"), url(./fonts/inter_web/Inter-Black.woff2);
}
